@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Nav Bar */
nav{
    font-family: "Bebas Neue";
    font-size: 1.5em;
    display: flex;
    background-color: #282828;
    justify-content: space-around;
    width: 100%;
    position: sticky;
    top: 0;
}

nav h1{
  font-family: "Dancing Script", "cursive";
  color: #b8b09e;
  font-size: 1.5em;
}

nav > ul > li > a:hover {
    color: #b8b09e;
  }


nav > ul > li{
    display: inline;
    list-style: none;
}

nav > ul > li > a {
    color: #BA9F5C;
    font-size: 20px;
    text-decoration: none;
    margin: 0 1.5em;
    padding: 0;

    
}


input[type=text] {
    border: none;
    height: 30px;
    width: 75px;
    color: #BA9F5C;
    background-color: #282828; 
}

input[type=text]:focus{
    outline: none !important;
    border-color: #BA9F5C;
    box-shadow: 0 0 10px #BA9F5C;

}

/* .logo img{
    width: 5em;
} */

.dropdown{
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-family: "Bebas Neue";
    background-color: #282828;
    color: #BA9F5C;
    padding: 16px;
    font-size: 0.85em;
    border: none;
  }

.dropbtn:hover{
    color: #b8b09e;
}



.dropdown-content {
   display: none;
   position: absolute;
   background-color: #282828;
   min-width: 160px;
   font-size: 0.85em;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}

.dropdown-content a {
    color: #BA9F5C;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {
    background-color: #b8b09e;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #282828;
}

/* //////////////////////// */







header {
    height: 70%;
    background-image: url('../images/galleryBackground.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

header div:first-of-type {
    background-color: rgba(0, 0, 0, 0.493);
    position: absolute;
    height: 100%;
    width: 100%;
}


.headerContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header h1 {
    font-size: 10em;
    margin: 0;
    color: #BA9F5C;
    line-height: auto;
    font-family: 'Dancing Script', cursive;
}

header h2 {
    font-size: 3em;
    margin: 0;
    color: #BA9F5C;
    font-family: 'Dancing Script', cursive;
}


.gallery {
    width: 100%;
    background-color:  #282828;
}

.grid {
    width: 80%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px auto;
    grid-auto-rows: 250px;
    grid-gap: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 40px;
    padding-bottom: 40px;
}

.grid h2 {
    grid-column: 1 / 5;
    grid-row: 1;
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    color: #BA9F5C;
    margin: 0;
    line-height: 100px;
}

.grid div {
    background-color: red;
}

img {
    object-fit: cover;
    height: 100%;
    max-width: 100%;
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.grid img:first-of-type {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
}

.image.two {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 2 / 4;
}

.image.three {
    grid-column: 3 /5 ;
    grid-row: 5 / 6;

}

.image.four {
    grid-row: 3 / 5;
    grid-column: 1 / 3;
}

/* slideshow */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}