/* font style */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html, body {
    height: 100%;
    width: 100%;
    background-color: #282828;
}


/* Nav Bar */
nav{
    font-family: "Bebas Neue";
    font-size: 1.5em;
    display: flex;
    background-color: #282828;
    justify-content: space-around;
    width: 100%;

}

h1{
    font-family: "Dancing Script", "cursive";
    color: #b8b09e;
}



nav > ul > li > a:hover {
    color: #b8b09e;
  }


nav > ul > li{
    display: inline;
    list-style: none;
}

nav > ul > li > a {
    color: #BA9F5C;
    font-size: 20px;
    text-decoration: none;
    margin: 0 1.5em;
    padding: 0;
    
}


input[type=text] {
    border: none;
    height: 30px;
    width: 75px;
    color: #BA9F5C;
    background-color: #282828; 
}

input[type=text]:focus{
    outline: none !important;
    border-color: #BA9F5C;
    box-shadow: 0 0 10px #BA9F5C;

}

/* .logo img{
    width: 5em;
} */

.dropdown{
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-family: "Bebas Neue";
    background-color: #282828;
    color: #BA9F5C;
    padding: 16px;
    font-size: 0.85em;
    border: none;
  }

.dropbtn:hover{
    color: #b8b09e;
}



.dropdown-content {
   display: none;
   position: absolute;
   background-color: #282828;
   min-width: 160px;
   font-size: 0.85em;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}

.dropdown-content a {
    color: #BA9F5C;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {
    background-color: #b8b09e;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #282828;
}


 


/* //////////////////////////////// */

/* HEADER */

header {
    height: 70%;
    background-image: url('../images/galleryBackground.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

header div:first-of-type {
    background-color: rgba(0, 0, 0, 0.493);
    position: absolute;
    height: 100%;
    width: 100%;
}


.headerContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header h1 {
    font-size: 10em;
    margin: 0;
    color: #BA9F5C;
    line-height: auto;
    font-family: 'Dancing Script', cursive;
}

header h2 {
    font-size: 3em;
    margin: 0;
    color: #BA9F5C;
    font-family: 'Dancing Script', cursive;
}



/* ///////////////////////////// */


/*////////// MAIN //////////*/

main h1{
    display: grid;
    justify-content: center;
    font-size: 5em;
    color: #BA9F5C;
}

/* main h2{
    display: grid;
    justify-content: center;
    font-size: em;
} */

main p {
    display: grid;
    text-align: center; 
    font-family: 'Bebas Neue';
    color: #b8b09e;
    font-size: 1.25em;

}




/*///////////////////////////*/
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}

img {
    display: grid;
    justify-content: center;
    width: 100%;
    height: 80vh;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* ///////////////// */

/* h2 {
    color: white;
}

#map {
    height: 500px;
    width: 500px;
}

.address {
    color: white;
} */

